/* SigninSignup.css */
.signin-container {
    background-image: ur('../public/Login-background.jpg');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image in the viewport */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 20%; */
    /* background-color: #f5f5f5; */
  }
  
  .signin-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 800px;
    max-width: 400px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-container label {
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .form-container input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .signin-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .signin-button:hover {
    background-color: #45a049;
  }
  
  /* Responsive design */
  @media (max-width: 600px) {
    .signin-form {
      height: 680px;
      padding: 15px;
      width: 100%;
      max-width: 100%;
      
    }
  
    .form-container input {
      font-size: 14px;
    }
  
    .signin-button {
      font-size: 14px;
    }
  }
  